.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    margin: 12px 0 0 2px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;

}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;

}

.select-input-price {
    font-size: 1.5rem;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
}

.home-product-item__like .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #D5D5D5;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item_origin {
    display: flex;
    margin: 3px 10px 0;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {

}

.home-product-item_origin-name {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item_sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height:50px;
    text-align: center;
    background-color: rgba(355, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item_sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 7px;
    border-style: solid;
    color: rgba(355, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item_sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;


}

.home-product-item_sale-off-label {
    color: var(--white-color);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;

}

.home-product__pagination {
    margin: 48px 0 32px 0;
}